/*#region utilities*/
:root {
    --dark-color: rgba(34, 34, 34, 1);
    --light-color: rgba(73, 73, 73, 1);
    --lighter-color: white;
    --share-color: rgb(10, 191, 10);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*#endregion utilities*/
.background {
    background-color: var(--dark-color);
    color: white;
}

i {
    padding: 0px 5px;
    color: white;
}

/*#region header*/

.header-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    gap: 0.5rem;
    height: 35px;
    /* HEIGHT misura variabile*/
}

.header-container div {
    background-color: var(--light-color);
    padding: 3px;
    cursor: pointer;
}

/*#endregion header*/

/*#region main*/

#main-container {
    margin: auto;
}

.main-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    height: calc(100vh - 35px);
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(100%/7 - 1rem);
    position: relative;
}


.username {
    color: white;
    background-color: var(--light-color);
    padding: 5px 0;
    position: absolute;
    bottom: 0;
}

/*#endregion main*/