/*#region utilities*/
:root {
    --dark-color: rgba(34, 34, 34, 1);
    --light-color: rgba(73, 73, 73, 1);
    --lighter-color: white;
    --share-color: rgb(10, 191, 10);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*#endregion utilities*/
.background {
    background-color: var(--dark-color);
    color: white;
}

i {
    padding: 0px 5px;
    color: white;
}

.center {
    text-align: center;

}

.flex {
    display: flex;
}

.block {
    display: inline;
}

/*#region header*/

.header-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    gap: 0.5rem;
    height: 35px;
    /* HEIGHT misura variabile*/
}

.header-container div {
    background-color: var(--light-color);
    padding: 3px;
    cursor: pointer;
}

/*#endregion header*/

/*#region main*/

#main-container {
    margin: auto;
}

.main-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    gap: 0.5rem;
    width: 100%;
    height: 100vh;
    margin-bottom: 56.8px;
    /*MISURA VARIABILE PER ALTEZZA CONTENUTI FOOTER*/
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(100%/7 - 1rem);
    position: relative;
}


.username {
    color: white;
    background-color: var(--light-color);
    padding: 5px 0;
    position: absolute;
    bottom: 0;
}

/*#endregion main*/

/*#region footer*/


.footer-container {
    background-color: var(--light-color);
    color: white;
    padding: 10px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    justify-content: space-between;
    width: 100%;

}

.left-controls {
    font-size: 1rem;
    align-items: center;
}



.mic,
.cam {
    padding: 0 1rem;
}

.mid-controls {
    gap: 2rem;
    font-size: 1rem;
}

.share,
.arrow {
    cursor: pointer;
}

.share i {
    color: var(--share-color);
}

.arrow {
    align-self: center;
}


.right-controls {
    align-items: center;

}

.call-to-action a {
    text-decoration: none;
    color: red;
    background-color: var(--lighter-color);
    padding: 5px;
}


/*#endregion footer*/